#background {
  background-image: url(../img/pastWorkout.jpg);
  background-size: cover;
  animation-name: fromNewToPastWorkout;
  animation-duration: 4s;
}

@keyframes fromNewToPastWorkout {
  from {
    background-image: url(../img/newWorkout.jpg);
  }
  to {
    background-image: url(../img/pastWorkout.jpg);
  }
}

.pastExercisesTitle {
  font-size: 25;
  font-weight: lighter;
  margin: 0.6em;
}